#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        vim_gg_mac: vim_gg_mac {
            compatible = "zmk,behavior-tap-dance";
            label = "VIM_GG_MAC";
            #binding-cells = <0>;
            bindings = <&vim_caps LG(UP_ARROW) G>, <&kp LG(LC(DOWN_ARROW))>;

            tapping-term-ms = <200>;
        };

        vim_caps: vim_caps {
            compatible = "zmk,behavior-hold-tap";
            label = "VIM_CAPS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mm_h: mm_h {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_H";
            bindings = <&kp H>, <&kp LEFT_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        mm_j: mm_j {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_J";
            bindings = <&kp J>, <&kp DOWN_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        mm_k: mm_k {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_K";
            bindings = <&kp K>, <&kp UP_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        mm_l: mm_l {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_L";
            bindings = <&kp L>, <&kp RIGHT_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        ht_letters: ht_letters {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LETTERS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
        };

        ht_thumb: ht_thumb {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_THUMB";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                   &kp W         &kp E   &kp R                       &kp T                                                                                 &kp Y                       &kp U  &kp I      &kp O    &kp P
&kp A                   &kp S         &kp D   &kp F                       &kp G                    &lt_to_layer_0 6 LANGUAGE_2      &kp LEFT_SHIFT              &mm_h                       &mm_j  &mm_k      &mm_l    &lt_to_layer_0 5 SEMICOLON
&ht_letters LEFT_ALT Z  &kp X         &kp C   &kp V                       &kp B                    &kp LANG1                        &kp TAB                     &kp N                       &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_ALT            &kp LEFT_WIN  &tog 3  &ht_thumb LEFT_COMMAND TAB  &lt_to_layer_0 2 ESCAPE  &mt LEFT_SHIFT SPACE             &mt LC(LEFT_CONTROL) ENTER  &lt_to_layer_0 1 BACKSPACE                             &lt_to_layer_0 5 ESCAPE
            >;
        };

        NUMBERS {
            bindings = <
&kp F11  &kp F12  &kp F13  &kp F14  &kp F15                      &kp LG(LS(NUMBER_4))  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &trans      &trans  &mkp MB4              &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SINGLE_QUOTE
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &trans      &trans  &mkp MB5              &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSPACE
&trans   &trans   &trans   &trans   &trans   &trans      &trans  &trans                                                          &trans
            >;
        };

        SYMBOLS {
            bindings = <
&kp EXCLAMATION       &kp AT_SIGN      &kp HASH       &kp DOLLAR  &kp PLUS                        &kp CARET       &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp LG(LS(NUMBER_4))  &kp HOME         &kp PAGE_UP    &to 0       &kp C_MUTE  &trans      &trans  &kp MINUS       &kp PLUS       &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp BACKSLASH
&kp LG(LS(NUMBER_5))  &kp KP_NUMBER_1  &kp PAGE_DOWN  &kp GRAVE   &kp TILDE   &trans      &trans  &kp UNDERSCORE  &kp EQUAL      &kp LEFT_BRACE    &kp RIGHT_BRACE       &kp PIPE
&trans                &trans           &trans         &trans      &trans      &trans      &trans  &trans                                                                 &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans  &kp LA(RIGHT_ARROW)  &kp LC(E)  &trans                                  &kp LG(C)  &trans          &to 0         &trans           &kp LG(V)
&trans  &trans  &kp LG(D)            &trans     &vim_gg_mac         &trans      &trans  &kp LEFT   &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans               &trans     &kp LA(LEFT_ARROW)  &trans      &trans  &trans     &trans          &trans        &trans           &trans
&trans  &trans  &trans               &trans     &none               &trans      &trans  &none                                                     &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &mo 5
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB4  &mkp MB5  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
